<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/terminalStyle.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Create a new Employee</title>
</head>
<body onload="autoLogout();">
<div class="form" style="margin-top: 5vh">
    <div sec:authorize="isAuthenticated()">
        <div class="container">
            <header class="formHeader">
                <img th:src="@{/img/logo.png}" alt="logo" class="logo">
                <h1>Add a new Employee:</h1>
            </header>

            <div class="data">
                <form id="addEmployeeForm" class="addForm" method="POST"
                      th:action="@{/addEmployee}" onsubmit="return validateForm()">
                    <span class="error" id="error"></span>
                    <div class="formGroup">
                        <input name="username" type="text" class="formInput"
                               placeholder="Username"
                               autofocus="true" id="username"/>
                        <small>Error Message</small>

                    </div>
                    <div class="formGroup">
                        <input name="password" type="password" class="formInput"
                               placeholder="Password" id="password"/>
                        <small>Error Message</small>
                    </div>
                    <div class="formGroup">
                        <input name="firstName" type="text" class="formInput"
                               placeholder="First Name" id="firstName"/>
                        <small>Error Message</small>
                    </div>
                    <div class="formGroup">
                        <input name="lastName" type="text" class="formInput"
                               placeholder="Last Name" id="lastName"/>
                        <small>Error Message</small>
                    </div>
                    <div class="formGroup">
                        <input name="position" type="text" class="formInput"
                               placeholder="Position" id="position"/>
                        <small>Error Message</small>
                    </div>
                    <button id="addEmployee" class="btn" style="border-bottom: #d2d2d2 1px solid">
                        Add new Employee
                    </button>
                </form>
                <div class="buttons">
                    <form id="clearForm" method="GET"
                          th:action="@{/addEmployee}">
                        <button class="btn"
                                style="border-bottom: #d2d2d2 1px solid"
                                onclick="document.forms['clearForm'].submit()">
                            Clear fields
                        </button>
                    </form>
                    <form id="backForm" method="GET" th:action="@{/terminal}">
                        <button class="btn"
                                onclick="document.forms['backForm'].submit()">
                            Back to Admin Panel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div th:include="fragments/copyright"></div>
    </footer>
</body>
<script th:src="@{/js/inputvalidation.js}"></script>
<script th:src="@{/js/autoLogout.js}"></script>
</html>