<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link type="text/css" th:href="@{/css/formStyle.css}">
    <title>Create an Employee page Template</title>
</head>
<body>

<div class="navBar">
    <a href="#list">List of Employees</a>
    <a class="active" href="#add">Add a new Employee</a>
    <a class="active" href="#view">View Employee</a>
</div>
<h1> Create a new Employee</h1>
<div class="addEmployee">
    <!-- todo
    here are fields to add a new employee
    -->
</div>

</body>
</html>