<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <link type="text/css" th:href="@{/css/formStyle.css}">
    <script th:src="@{/js/Inputvalidation.js}"></script>
    <title>Create an Employee page Template</title>
</head>
<body>

<div class="header">
    <form>
        <img id="pic" th:src="@{/img/logo.png}" />
    </form>
</div>

<div class="navBar">
    <a href="#list">List of Employees</a>
    <a class="active" href="#add">Add a new Employee</a>
    <a class="active" href="#view">View Employee</a>
</div>
<h1> Create a new Employee</h1>
<div class="container">

    <div class="container">

        <form method="POST" class="form" id="form" th:object="${employeeForm}" th:action="@{/addEmployee}">
            <h2 class="form-add-heading">Create your account</h2>
            <div class="form-group">
                <input id="email" type="email" th:field="*{email}" class="form-control" placeholder="Email"
                       autofocus="true">
                <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                <br>
                <small>Error</small>

            </div>

            <div class="form-group">
                <input id="Password" type="password" th:field="*{password}" class="form-control" placeholder="Password">
                <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                <br>
                <small>Error</small>
            </div>

            <div class="form-group">
                <input id="firstName" type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
                <br>
                <small>Error</small>
            </div>

            <div class="form-group">
                <input id="lastName" type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name"><br>
                <small>Error</small>
            </div>

            <div class="form-group">
                <input id="position" type="text" th:field="*{position}" class="form-control" placeholder="Position" ><br>
                <small>Error</small>
            </div>
            <div class="button-container">
                <button class="btn" type="delete">Delete</button>
                <button class="btn" type="submit">Submit</button>

            </div>
        </form>

    </div>
</div>
</html>