<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/adminStyle.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Admin page Template</title>
</head>
<body>
<h1>Welcome admin</h1>
<p>The list of all current employees and their availability</p>
<table style="width:100%">
    <!-- TODO: styling -->
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>Status</th>
        <th>Availability</th>
        <th id="ProfileCol1"></th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.username}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.status} ? yes : no"></td>
        <td th:text="${employee.isAvailable} ? yes : no"></td>

        <td id="ProfileCol2">
            <a th:href="@{/employees/{id}(id=${employee.id})}">
                <button>Profile</button>
            </a>
        </td>
    </tr>
</table>
<form>

    <input type="image" id="button1"
           th:style="'background-image:url(' + @{/img/logo.png} + ')'"
    alt="">
</form>
</body>
</html>