<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/adminStyle.css}">
    <title>Admin page Template</title>
</head>
<body>
<h1>Welcome admin</h1>
<p>The list of all current employees and their availability
<p>
<table style="width:100%">

    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Start of Work:</th>
        <th>End of Work:</th>
        <th>Status</th>
        <th id="ProfileCol1"></th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td></td>
        <td></td>
        <td></td>

        <td id="ProfileCol2">
            <button>Profile</button>
        </td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td></td>
        <td></td>
        <td></td>
        <td id="ProfileCol3">
            <button>Profile</button>
        </td>
    </tr>

</table>
<form>

    <input type="image" id="button1"
           th:style="'background-image:url(' + @{/img/logo.png} + ')'"
    alt="">
</form>

</body>
</html>