<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/terminalStyle.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <title>Change Username</title>
</head>
<body>
<div class="form">
    <header class="formHeader">
        <img th:src="@{/img/logo.png}" alt="logo" class="logo">
        <h1>Change Username</h1>
    </header>

    <form class="loginForm" id="changeUsernameForm" method="POST"
          th:action="@{/changeUsername}"
          onsubmit="return validateForm()">
        <span class="error" id="error"></span>
        <div class="formGroup">
            <input id="username" name="newUsername" type="text"
                   class="formInput"
                   placeholder="New Username"/>
        </div>
        <button class="btn" type="submit" name="changeUsernameBtn">Save</button>
    </form>
</div>
<footer>
    <div th:include="fragments/copyright"></div>
</footer>
<script th:src="@{/js/changeUsernameValidation.js}"></script>
</body>
</html>