<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/employeeStyle.css}">
    <title>Employee page Template</title>
</head>
<body>
<!-- Header with the Logo of the Software -->
<div class="header">
    <form>
        <img id="pic" th:src="@{/img/logo.png}" />
    </form>
</div>
<!--First collum, in which employee can change his Profile picture.-->
<div class="grid-container">
    <input type="image" id="pic2" src="http://placehold.it/180x180" alt="" />
    <nav>
        <!-- Contact Information of the Employee -->
        <div class="grid-item"> <h1 id="ContactHeader">Contact</h1>
            <form><img id="Contact" img>
            </form>
            <p>Email:   <input id="input1" type="text"></p><br>
            <p>Phone:   <input id="input2" type="text"></p><br>
            <p>Mobile:  <input id="input3" type="text"></p><br>
            <p>Address: <input id="input4" type="text"></p>
        </div>
    </nav>
    <!--Information on the right Side-->
    <div class="grid-item"><aside>
        <h1 id="InfoHeader">Information</h1>
        <p>Username:    <span th:text="${employee.username}"></span></p> <br>
        <p> Coordinates:  <span th:text="${employee.coordinates}"></span> </p><br>
        <p> Firstname:    <span th:text="${employee.firstName}"></span></p><br>
        <p> Lastname:     <span th:text="${employee.lastName}"></span></p><br>
        <p> Position:     <span th:text="${employee.position}"></span></p><br>
        <p> is Available: <span th:text="${employee.isAvailable}"></span></p><br>
        <p>Status:        <span th:text="${employee.status}"></span></p>

    </aside>
    </div>
</div>
</body>
</html>