<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/employeeStyle.css}">
    <title>Employee page Template</title>
</head>
<body>
<!-- Header with the Logo of the Software -->
<div class="header">
    <form>
        <img id="pic" th:src="@{/img/logo.png}" />
    </form>
</div>
<!--First collum, in which employee can change his Profile picture.-->
<div class="container">
    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>

        <h2>Welcome <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
    </div>
</div>
</body>
</html>