<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/employeeStyle.css}">
    <title>Employee panel</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <div class="container">
        <header class="header">
            <img th:src="@{/img/logo.png}" alt="logo" class="logo">
            <h1>Welcome <span th:text="${employee.firstName}"></span>!</h1>
        </header>

        <div class="data">
            <div class="left">
                <span class="entry">
                    <text class="prefix">Username :</text>
                    <span th:text="${#authentication.name}"></span>
                </span><br/>
                <span class="entry">
                    <text class="prefix">Name:</text>
                    <span th:text="${employee.getNames()}"></span>
                </span><br/>
                <span class="entry">
                    <text class="prefix">Position:</text>
                    <span th:text="${employee.position}"></span>
                </span><br/>
                <span class="entry">
                    <text class="prefix">Time since login:</text>
                    <!-- fixme: dummy data -->
                    <div id="timeElapsed"
                         th:text="${employee.availableTimeStart}"></div>
                </span>
                <span class="entry">
                    <text class="prefix">Availability:</text>
                        <input type="checkbox" checked>
                    </span><br/>

                <div class="buttons">
                <span class="entry">
                    <text class="prefix">Details about work:</text>
                    <textarea class="details" name="details" rows="4"
                              form="addDataForm"
                              th:value="*{employee.data}"></textarea>
                </span><br/>
                    <form id="addDataForm" enctype="multipart/form-data"
                          method="POST" th:action="@{/}">
                        <button class="btn" name="action"
                                onclick="document.forms['addDataForm'].submit()">
                            Submit
                        </button>
                    </form>

                    <div class="exportLeft">
                        <form id="exportJSONForm" method="GET"
                              th:action="@{/exportJSON/{id}(id=${employee.id})}">
                            <button class="btn"
                                    onclick="document.forms['exportJSONForm'].submit()">
                                Export Data as JSON
                            </button>
                        </form>
                    </div>
                    <div class="exportRight">
                        <form id="exportHTMLForm" method="GET"
                              th:action="@{/exportHTML/{id}(id=${employee.id})}">
                            <button class="btn"
                                    onclick="document.forms['exportHTMLForm'].submit()">
                                Export Data as HTML
                            </button>
                        </form>
                    </div>

                    <form id="logoutForm" method="POST" th:action="@{/logout}">
                        <button class="btn"
                                onclick="document.forms['logoutForm'].submit()">
                            Logout
                        </button>
                    </form>
                </div>

            </div>

            <div class="right">
                <div id="map">
                    <span th:text="${employee.coordinates}"></span>
                </div>
                    <script
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr08bWCmHTZIi1j6pWWYLA3hso28Bn2YU&callback=initMap&libraries=&v=weekly"
                            async
                    >
                    </script>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:include="fragments/copyright"></div>
</footer>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/time.js}"></script>
</body>
</html>