* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

html {
    background: linear-gradient(45deg, #49C49D 20%, #A2B7E5 80%);
    height: 100%;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 5vh auto 10vh auto;
    color: #000000;
}

.header {
    text-align: center;
    font-size: 24px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 0;
}

.left {
    width: 30%;
    float: left;
    padding-right: 10px;
}

.right {
    width: 70%;
    float: right;
}

.exportLeft {
    width: 50%;
    float: left;
    padding-right: 10px;
}

.exportRight {
    width: 50%;
    float: right;
}

#map {
    height: 100%;
    width: 100%;
}

#timeElapsed {
    font-size: 20px;
}


.data {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 20px;
    outline: 0;
    border: 0;
    background: #E0E0E0;
    font-size: 26px;
    height: 50%;
    position: relative;
}

h3 {
    margin-top: 15px;
}

.entry {
    padding-top: 5px;
    font-size: 20px;
    display: contents;
}

.prefix {
    color: #444444;
}

.details {
    border: 0;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    color: #212121;
    padding: 7px 0;
    background: #ebebeb;
    width: 100%;
    resize: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0;
    margin-bottom: 5px;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 15px;
    width: 27%;
}