.header {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(45deg, #49C49D 15%, #A2B7E5 80%);
  overflow: hidden;
  padding:0px;
}

#pic {
width:100px;
height:100px;
display:inline-block;
margin: 0 ;
}

aside {
float: left;
width:100%;
grid-row: 2 / 4;
}

#header1 {
text-align:center;
font-size:18px;
}

p {
color:Grey;
font-size:18px;
margin-top: 0;
margin-bottom: 0;
}

span  {
font-size:18px;
}

#ContactHeader {
width:100%;
}

nav {
width:100%;
}

.grid-container {
 display: grid;
  grid-template-columns:20% auto auto;
  padding: 0px;
}

.grid-item {
  padding: 100px;
  font-size: 30px;
  text-align: left;
 }

#pic2 {
border-radius:50%;
}

#input1, #input2, #input3, #input4 {
float:right;
width:180px;
}

html {
background-color:#d1e4df;
}


