* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

html {
    background: linear-gradient(45deg, #49C49D 20%, #A2B7E5 80%);
    height: 100%;
    overflow: hidden;
}

.form {
    width: 90%;
    max-width: 500px;
    margin: 10vh auto;
    color: #000000;
}

.formHeader {
    text-align: center;
    font-size: 24px;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.loginForm {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
}

.formInput {
    display: block;
    width: 100%;
    padding: 20px;
    outline: 0;
    border: 0;
    background: #E0E0E0;
    font-size: 20px;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    outline: 0;
    border: 0;
    color: #000000;
    font-size: 20px;
}
